version: '3.8'

services:
  db:
    image: postgres:15-alpine
    container_name: postgres_db
    restart: always
    environment:
      POSTGRES_USER: ${DB_USERNAME}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      POSTGRES_DB: ${DB_NAME}
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - shared_network
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${DB_USERNAME} -d ${DB_NAME}"]
      interval: 10s
      timeout: 5s
      retries: 5

  test-api:
    build: .
    container_name: fastapi_app
    restart: always
    env_file: .env
    depends_on:
      db:
        condition: service_healthy
    expose:
      - "8000"
    networks:
      - shared_network

networks:
  shared_network:
    external: true

# BU HİSSƏNİ ƏLAVƏ ET:
volumes:
  postgres_data:
