name: FastAPI Deploy

on:
  push:
    branches:
      - master

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Create .env file
        run: | 
          echo "DEBUG='${{ secrets.DEBUG }}'" > .env
          echo "POSTGRES_HOST='${{ secrets.POSTGRES_HOST }}'" >> .env
          echo "POSTGRES_DB='${{ secrets.POSTGRES_DB }}'" >> .env
          echo "POSTGRES_USER='${{ secrets.POSTGRES_USER }}'" >> .env
          echo "POSTGRES_PASSWORD='${{ secrets.POSTGRES_PASSWORD }}'" >> .env
          echo "POSTGRES_PORT='${{ secrets.POSTGRES_PORT }}'" >> .env

      - name: Copy .env to server
        run: |
         scp -o StrictHostKeyChecking=no .env ${{ secrets.SSH_USER }}@${{ secrets.SSH_HOST }}:/root/fastapi-lesson/.env

      - name: Deploy to Server via SSH
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.SSH_HOST }}
          username: ${{ secrets.SSH_USER }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          script: |
            cd ~/fastapi-lesson
            git fetch origin
            git pull --rebase origin master
            docker-compose down
            docker-compose up -d --build
            docker restart test-api-nginx